In [1]:
#1 numeric datatype
# a) int which contains interger value
a=434
print(type(a)) # "type" is use to check the (class) which type of datatype is use

<class 'int'>

In [2]:
# b) float which contains  decimal value
a=3434.00
print(type(a))

<class 'float'>

In [3]:
# c) string  which contain the string of character
a="Jai shree ram"
print(type(a))

<class 'str'>

In [5]:
#d) complex number which contain both integer and string
a=2+3j
print(type(a))

<class 'complex'>

In [6]:
#2 sequence datatype
# a) strings
a= " jatin dadwal"
print(a[-3])# for negative wise
print(a[-4])# for positive wise

w

In [8]:
#b) List
x,y,z={"jatin","praful","reetak"}
print(x)
print(y)
print(z)

jatin
praful
reetak

In [11]:
#accessing value using positive index
a=["jatin","praful","reetak"]
print(a[2])
# accessing value using negitive index
b=["jatin","praful","reetak"]
print(b[-3])

reetak
jatin

In [16]:
#3 tuple
tup1 = tuple([1,4,3])
#acess tuple by using positive or negative index
print(tup1[2])
print(tup1[-2])

3
4