In [1]:
a="jatin Dadwal"
print(a[-4])
print(a[5])

d

In [2]:
a=["jatin","dadwal","reetak","Praful","aditya","dixit"]
print(a[1:2])
print(a[:3])
print(a[1:])
print(a[1:6:2])

['dadwal']
['jatin', 'dadwal', 'reetak']
['dadwal', 'reetak', 'Praful', 'aditya', 'dixit']
['dadwal', 'Praful', 'dixit']

In [3]:
a=["Jatin","Praful","Reetak","Aditya",3,2,1,0]
print(type(a))
print(a[1:8:1])

<class 'list'>
['Praful', 'Reetak', 'Aditya', 3, 2, 1, 0]

In [4]:
a=[2,4,"Apple",6,[2,4],"ram"]
print(len(a))
print(type(a))

6
<class 'list'>

In [5]:
a=[2,"jatin",3.5,[5,7,8],(4,6)]
print(len(a))
print(type(a))

5
<class 'list'>

In [6]:
a=[1,2,3,4,5,"Rahul",[2,5,45,5],(3,5)]
print(len(a))
print(type(a))

8
<class 'list'>

In [7]:
a="ilearnpython"
print(len(a))
b=a[6:10:-1]
print(a)
print(b)

12
ilearnpython

In [8]:
num=[1,2,3,4,5,"String",6.9]
print(type(num))
print(type(num[5]))
print(type(num[-1]))

<class 'list'>
<class 'str'>
<class 'float'>

In [11]:
this=["apple", "banana","cherry"]
this[0]=[7,8,9]
print(this)

[[7, 8, 9], 'banana', 'cherry']

In [10]:
a=[2,3,4,5]
a.append(4)
a.append("Jatin")
print(a)
print(len(a))

[2, 3, 4, 5, 4, 'Jatin']
6

In [12]:
a=[2,4,5,6,7]
a.extend([21,3])
print(a)

[2, 4, 5, 6, 7, 21, 3]

In [13]:
l1=[10.20,30]
l2=[40,50,60]
l2.append(l1)
print(l2)

[40, 50, 60, [10.2, 30]]

In [14]:
fruit=["apple","banana","cherry"]
print(fruit)
fruit.insert(1,"herry1")
print(fruit)

['apple', 'banana', 'cherry']
['apple', 'herry1', 'banana', 'cherry']

In [15]:
fruits=["apple","banana","cherry",144]
last_fruit = fruits.pop()
print(last_fruit)

144

In [16]:
#sort
#count
num=[1,2,3,4,99,6,77]
num.sort(reverse=True)
print(num)

[99, 77, 6, 4, 3, 2, 1]

In [17]:
fruit=["aapple","jatin","Praful"]
fruit.clear()
print(fruit)

[]

In [18]:
a=4
b=5
print(f"before swaping a={a} , b={b}")
a=a+b
b=a-b
a=a-b
print(f"after swaping a={a} and b={b}")

before swaping a=4 , b=5
after swaping a=5 and b=4

In [19]:
a=("jatin   ")*12
print(a)

jatin   jatin   jatin   jatin   jatin   jatin   jatin   jatin   jatin   jatin   jatin   jatin

In [20]:
d={1:2,6:7,8:"hurry ",8:"abhishek"}
print(type(d))

<class 'dict'>

In [21]:
amount=int(input("Enter the amount:"))
rate=int(input("Enter Rate "))
time=int(input("Enter time period "))
simpleintrest=(amount*rate*time)/100
print(f"Simple intrest : {simpleintrest}")

Enter the amount: 20000
Enter Rate  3
Enter time period  3

Simple intrest : 1800.0

In [22]:
list1=[23,445,56,66]
list1.reverse()
print(list1)

[66, 56, 445, 23]

## Control structure

In [23]:
a=int(input("enter first  value :"))
b=int(input("enter second value :") )    
      
if a>b:
      print(f"{a} is greater than {b}")
elif  b>a:
      print(f"{b} is greater than {a}")
else :
      print(f"{a} is equal to {b}")

enter first  value : 22
enter second value : 3

22 is greater than 3

In [24]:
a=int(input("enter your age :"))
if a>=18:
   print(" you are eligible to vote")
else :
   print("you are eligible to vote")

enter your age : 18

 you are eligible to vote

In [26]:
number=int(input("enter to check even or odd :"))
if number%2==0:
    print(f"{number} is even")
else:
    print(f"{number} is odd")

enter to check even or odd : 23

23 is odd

In [27]:
year=int(input("Enter the year to check leap year or not"))
if year%100==0:
    if year%400==0:
        print(f"{year} is leap year")
    else :
         print(f"{year} is not leap year")
else:
         if year%4==0:
            print(f"{year} is leap year")
         else :
            print(f"{year} is not leap year")

Enter the year to check leap year or not 2000

2000 is leap year

In [31]:
num=int(input("Enter number"))
if num >=1:
    print(f"{num} is positive")
elif num == 0 : 
    print(f"{num} is Zero")
else:
    print(f"{num} is negative")

Enter number -33

-33 is negative

# LOOPS IN PYTHON

- A loop is use to iterate over a sequence

In [33]:
fruits=["Apple","Banana","Mango"]
for i in fruits:
    print(i)

Apple
Banana
Mango

In [34]:
for i in range(1,10):
 print("Jatin Dadwal")

Jatin Dadwal
Jatin Dadwal
Jatin Dadwal
Jatin Dadwal
Jatin Dadwal
Jatin Dadwal
Jatin Dadwal
Jatin Dadwal
Jatin Dadwal

In [35]:
# find those number divisible by 7 and multiuply by 5. 
for i in range(1,500):
 if i%7==0:
    if i%5==0:
        print(f"{i} number is divisible by 7 and multipy by 5")

35 number is divisible by 7 and multipy by 5
70 number is divisible by 7 and multipy by 5
105 number is divisible by 7 and multipy by 5
140 number is divisible by 7 and multipy by 5
175 number is divisible by 7 and multipy by 5
210 number is divisible by 7 and multipy by 5
245 number is divisible by 7 and multipy by 5
280 number is divisible by 7 and multipy by 5
315 number is divisible by 7 and multipy by 5
350 number is divisible by 7 and multipy by 5
385 number is divisible by 7 and multipy by 5
420 number is divisible by 7 and multipy by 5
455 number is divisible by 7 and multipy by 5
490 number is divisible by 7 and multipy by 5

In [36]:
even=0
odd=0
for i in range(1,100):
    if i%2==0:
        even+=1
    else:
        odd+=1
print(f"total number of even is {even}")
print(f"total number of odd is {odd}")

total number of even is 49
total number of odd is 50

In [37]:
even=0
odd=0
for i in range(0,9):
    if i%2==0:
        even+=1
    else:
        odd+=1
print(f"total number of even is {even}")
print(f"total number of odd is {odd}")

total number of even is 5
total number of odd is 4

In [38]:
for i in range(1,10):
    print(("*")*i)

*
**
***
****
*****
******
*******
********
*********

In [39]:
a=int(input("Enter a number to print table"))
for i in range(1,11):
    print(a,"x",i,'=',a*i,end="\n")

Enter a number to print table 45

45 x 1 = 45
45 x 2 = 90
45 x 3 = 135
45 x 4 = 180
45 x 5 = 225
45 x 6 = 270
45 x 7 = 315
45 x 8 = 360
45 x 9 = 405
45 x 10 = 450