### Day 2

In [1]:
a="jatin Dadwal"
print(a[-4])
print(a[5])

d

In [2]:
a=["jatin","dadwal","reetak","Praful","aditya","dixit"]
print(a[1:2])
print(a[:3])
print(a[1:])
print(a[1:6:2])

['dadwal']
['jatin', 'dadwal', 'reetak']
['dadwal', 'reetak', 'Praful', 'aditya', 'dixit']
['dadwal', 'Praful', 'dixit']

In [3]:
a=["Jatin","Praful","Reetak","Aditya",3,2,1,0]
print(type(a))
print(a[1:8:1])

<class 'list'>
['Praful', 'Reetak', 'Aditya', 3, 2, 1, 0]

In [4]:
a=[2,4,"Apple",6,[2,4],"ram"]
print(len(a))
print(type(a))

6
<class 'list'>

In [5]:
a=[2,"jatin",3.5,[5,7,8],(4,6)]
print(len(a))
print(type(a))

5
<class 'list'>

In [6]:
a=[1,2,3,4,5,"Rahul",[2,5,45,5],(3,5)]
print(len(a))
print(type(a))

8
<class 'list'>

In [7]:
a="ilearnpython"
print(len(a))
b=a[6:10:-1]
print(a)
print(b)

12
ilearnpython

In [8]:
num=[1,2,3,4,5,"String",6.9]
print(type(num))
print(type(num[5]))
print(type(num[-1]))

<class 'list'>
<class 'str'>
<class 'float'>

In [9]:
this=["apple", "banana","cherry"]
this[0]=[7,8,9]
print(this)

[[7, 8, 9], 'banana', 'cherry']

### Day 3

In [10]:
a=[2,3,4,5]
a.append(4)
a.append("Jatin")
print(a)
print(len(a))

[2, 3, 4, 5, 4, 'Jatin']
6

In [11]:
a=[2,4,5,6,7]
a.extend([21,3])
print(a)

[2, 4, 5, 6, 7, 21, 3]

In [12]:
l1=[10.20,30]
l2=[40,50,60]
l2.append(l1)
print(l2)

[40, 50, 60, [10.2, 30]]

In [13]:
fruit=["apple","banana","cherry"]
print(fruit)
fruit.insert(1,"herry1")
print(fruit)

['apple', 'banana', 'cherry']
['apple', 'herry1', 'banana', 'cherry']

In [14]:
fruits=["apple","banana","cherry",144]
last_fruit = fruits.pop()
print(last_fruit)

144

In [15]:
#sort
#count
num=[1,2,3,4,99,6,77]
num.sort(reverse=True)
print(num)

[99, 77, 6, 4, 3, 2, 1]

In [16]:
fruit=["aapple","jatin","Praful"]
fruit.clear()
print(fruit)

[]

In [17]:
a=4
b=5
print(f"before swaping a={a} , b={b}")
a=a+b
b=a-b
a=a-b
print(f"after swaping a={a} and b={b}")

before swaping a=4 , b=5
after swaping a=5 and b=4

In [18]:
a=("jatin   ")*12
print(a)

jatin   jatin   jatin   jatin   jatin   jatin   jatin   jatin   jatin   jatin   jatin   jatin

In [19]:
d={1:2,6:7,8:"hurry ",8:"abhishek"}
print(type(d))

<class 'dict'>

In [20]:
amount=int(input("Enter the amount:"))
rate=int(input("Enter Rate "))
time=int(input("Enter time period "))
simpleintrest=(amount*rate*time)/100
print(f"Simple intrest : {simpleintrest}")

Enter the amount: 20000
Enter Rate  2
Enter time period  2

Simple intrest : 800.0

In [21]:
list1=[23,445,56,66]
list1.reverse()
print(list1)

[66, 56, 445, 23]

### day 4

## Control structure

In [22]:
a=int(input("enter first  value :"))
b=int(input("enter second value :") )    
      
if a>b:
      print(f"{a} is greater than {b}")
elif  b>a:
      print(f"{b} is greater than {a}")
else :
      print(f"{a} is equal to {b}")

enter first  value : 34
enter second value : 5

34 is greater than 5

In [23]:
a=int(input("enter your age :"))
if a>=18:
   print(" you are eligible to vote")
else :
   print("you are eligible to vote")

enter your age : 554

 you are eligible to vote

In [24]:
number=int(input("enter to check even or odd :"))
if number%2==0:
    print(f"{number} is even")
else:
    print(f"{number} is odd")

enter to check even or odd : 54

54 is even

In [25]:
year=int(input("Enter the year to check leap year or not"))
if year%100==0:
    if year%400==0:
        print(f"{year} is leap year")
    else :
         print(f"{year} is not leap year")
else:
         if year%4==0:
            print(f"{year} is leap year")
         else :
            print(f"{year} is not leap year")

Enter the year to check leap year or not 3

3 is not leap year

#### num=int(input("Enter number"))
if num >=1:
    print(f"{num} is positive")
elif num == 0 : 
    print(f"{num} is Zero")
else:
    print(f"{num} is negative")

# LOOPS IN PYTHON

- A loop is use to iterate over a sequence

In [27]:
fruits=["Apple","Banana","Mango"]
for i in fruits:
    print(i)

Apple
Banana
Mango

In [28]:
for i in range(1,10):
 print("Jatin Dadwal")

Jatin Dadwal
Jatin Dadwal
Jatin Dadwal
Jatin Dadwal
Jatin Dadwal
Jatin Dadwal
Jatin Dadwal
Jatin Dadwal
Jatin Dadwal

In [29]:
# find those number divisible by 7 and multiuply by 5. 
for i in range(1,500):
 if i%7==0:
    if i%5==0:
        print(f"{i} number is divisible by 7 and multipy by 5")

35 number is divisible by 7 and multipy by 5
70 number is divisible by 7 and multipy by 5
105 number is divisible by 7 and multipy by 5
140 number is divisible by 7 and multipy by 5
175 number is divisible by 7 and multipy by 5
210 number is divisible by 7 and multipy by 5
245 number is divisible by 7 and multipy by 5
280 number is divisible by 7 and multipy by 5
315 number is divisible by 7 and multipy by 5
350 number is divisible by 7 and multipy by 5
385 number is divisible by 7 and multipy by 5
420 number is divisible by 7 and multipy by 5
455 number is divisible by 7 and multipy by 5
490 number is divisible by 7 and multipy by 5

In [30]:
even=0
odd=0
for i in range(1,100):
    if i%2==0:
        even+=1
    else:
        odd+=1
print(f"total number of even is {even}")
print(f"total number of odd is {odd}")

total number of even is 49
total number of odd is 50

In [31]:
even=0
odd=0
for i in range(1500,2701):
    if i%2==0:
        even+=1
    else:
        odd+=1
print(f"total number of even is {even}")
print(f"total number of odd is {odd}")

total number of even is 601
total number of odd is 600

In [32]:
for i in range(1,10):
    print(("*")*i)

*
**
***
****
*****
******
*******
********
*********

In [33]:
a=int(input("Enter a number to print table"))
for i in range(1,11):
    print(a,"x",i,'=',a*i,end="\n")

Enter a number to print table 44

44 x 1 = 44
44 x 2 = 88
44 x 3 = 132
44 x 4 = 176
44 x 5 = 220
44 x 6 = 264
44 x 7 = 308
44 x 8 = 352
44 x 9 = 396
44 x 10 = 440

### Day 5

## While loop

inisitialization
codition
inc/dec

In [ ]:
a=90
a=90-5
print(a)

In [ ]:
for i in range(10):
    print("Jatin Dadwal")

In [ ]:
l=[6,7,9]
for i in range(len(l)):
    print(i)

### Nested While loop

In [1]:
i = 0

while i < 3:  
    j=0
    while j < 3:   
        print(i, j) 
        j += 1  
    i+=1

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

In [6]:
l=[1,2,3,4,5]
sum=1
for i in l:
    sum=sum*i
print(sum)

120

### write a program negative number in list

In [20]:
for i in range(-5,0):
    print(i)

-5
-4
-3
-2
-1

### write a program to print sum of number in a list

In [18]:
l=[1,2,3,4,5]
sum=0
for i in l:
    sum=sum+i
print(sum)

15

### Write a code to print table by using  while loop

In [23]:
i=10
while(i>=1):
    print(i)
    i=i-1

10
9
8
7
6
5
4
3
2
1

In [ ]:
# even number 
i=1
while(i<1)

### Write a program to print sum to even number in range 1 to 100 using while or for loop

In [34]:
# using while loop
i=1
sum=0
while(i<=100):
    if i%2==0:
     sum=sum+i
    i+=1
print(sum)

2550

In [41]:
# using for loop
sum=0
for i in range(1,101):
    if i%2==0:
     sum=sum+i
print(sum)

2550

### write a program to print charater at even position.

In [59]:

a="Jatin Dadwal"
i=0
while(i<=11):
    print(a[i])
    i+=2

J
t
n
D
d
a

In [44]:
i=0
j=0
while i<3:
    j=0
    while j<3:
        print(i,j)
        j +=1
    i+=1

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

## iterrative statement

- Break , Pass, and Continue

 #### 1. Break : use to exit the loop  before the conditon is made.

In [53]:
for i in range(1,100):
    if i == 4:
      break
    print(i)

1
2
3

#### 2.Continue : value skip the current next iteration loop and move on the next one.

In [49]:
for i in range(12):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9
11

#### 3. Pass : function avoiding indentation error in python

In [56]:
for i in range(10):
    pass
print("hello world")

hello world

## Function

- Function is the block of code use to make a code shorter and more efficient.

### There is two type of function

- User define function :user define is a custom function created by the a programmer to perform specific tasks within a program.
    
- Built in function : Built in  function  are similar to operation codes in that in that they perform operations on dta you specify