### 1. Write a code  to create a tuple with the element 100,200, 300 and print it.

In [2]:
tuple1=(100,200,300)
print(type(tuple1))
print(tuple1)

<class 'tuple'>
(100, 200, 300)

### 2.Write a code to access the second to last element of the tuple("red","green","blue","yellow").

In [3]:
list1=["red","green ","blue","yellow"]
print(list1[1])

green

### 3.Write a code to find the minimum number in the tuple(10,20,5,15)

In [6]:
tuple1=(10,20,5,15)
print(min(tuple1))

5

### 4. Write a code to find index of the element "cat" in the tuple("dog","cat","rabbit")

In [7]:
tuple1=("Dog","Cat","rabbit")
print(tuple1[1])

Cat

### 5. Write  a code to create a tuple containg three  diffrent fruits and check if "Kiwi" is in it.

In [3]:
tuple1=("mango","kiwi","banana")
print("kiwi" in tuple1)

True

### 6. Write a code to create a set  with the element 'a','b','c' and print.

In [18]:
set1={"a","b","c"}
print(type(set1))

print(set1)

<class 'set'>
{'c', 'b', 'a'}

### 7. Write  a code to clear all  element from the set {1,2,3,4,5}.

In [19]:
set1={1,2,3,4,5}
set1.clear()
print(set1)

set()

### 8. Write to remove the element 4 from the set {1,2,3,4}

In [16]:
set1={1,2,3,4}
set1.remove(4)
print(set1)

{1, 2, 3}

### 9. Write a to find the union  of two sets {1,2,3,} and {3,4,5}.

In [20]:
a={1,2,3}
b={3,4,5}
c=a.union(b)
print(c)

{1, 2, 3, 4, 5}

### 10. Write a code to find the intersection of two sets{1,2,3} and {2,3,4}

In [38]:
set1={1,2,3}
set2={2,3,4}
c=set1.intersection(set2)
print(c)

{2, 3}

### 11. Write a code to create a dictionary with the key "name","age", and "city" ,and print it.

In [24]:
Dic_t={"name":"Jatin Dadwal",
       "age":19,
       "city":"dada siba"}
print(Dic_t)

{'name': 'Jatin Dadwal', 'age': 19, 'city': 'dada siba'}

### 12. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [29]:
dic_t={
    "Name": "John",
    "age": 25
}
dic_t["country"]="USA"
print(dic_t)

{'Name': 'John', 'age': 25, 'country': 'USA'}

### 13. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [36]:
dic_t={
    "Name":"Alice",
    "Age": 30
}
print(dic_t.get("Name"))

Alice

### 14.  Write a code to remove the key "age" from the dictionary ['name': 'Bob', 'age': 22, 'city': 'New York'}.

In [42]:
di_ct={
    "Name": "Bob",
    "age": 22,
    "city": "New York"
}
del di_ct["age"]
print(di_ct)

{'Name': 'Bob', 'city': 'New York'}

### 15. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [45]:
di_ct={
    "name":"Alice",
    "city":"paris"
}
a= "city" in di_ct
print(a)

True

### 16. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [61]:
tu_ple=("jatin","Praful","Reetak","Aditya")
li_st=[23,43,"apple"]
di_ct={ "Name":"Jatin Dadwal",
        "Age":18,
        "relationship":"Not in re...."
            }
9print(f"{tu_ple},\n {li_st},\n{di_ct})" )
print(type(tu_ple))
print(type(li_st))
print(type(di_ct))

('jatin', 'Praful', 'Reetak', 'Aditya'),
 [23, 43, 'apple'],
{'Name': 'Jatin Dadwal', 'Age': 18, 'relationship': 'Not in re....'})
<class 'tuple'>
<class 'list'>
<class 'dict'>

### 17. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [74]:

import random

random_number = []  # Create empty list

for _ in range(5):
    random_number.append(random.randint(1, 100))  # Add random number to the list

random_number.sort()  # Sort after the loop finishes
print(random_number)  # Print the sorted list

[4, 27, 37, 47, 69]

### 18. Write a code to create a list with strings and print the element at the third index.

In [75]:
li_st=["jatin","Praful","Reetak"]
print(li_st[2])

Reetak

### 19.  Write a code to combine two dictionaries into one and print the result.

In [80]:
dict1={"Name":"Jatin",
       "age":18,
       "city":"dada siba"}
dict2={"Name":"reetak",
       "age":19,
       "city":"thural"}
main_dict=[dict1,dict2]
print(main_dict)

[{'Name': 'Jatin', 'age': 18, 'city': 'dada siba'}, {'Name': 'reetak', 'age': 19, 'city': 'thural'}]

### 20.  Write a code to convert a list of strings into a set.

In [81]:
lis_t=["Apple","Banana","Mango","Kiwi"]
print(type(lis_t))
print(lis_t)
set1=set(lis_t)
print(type(set1))
print(set1)

<class 'list'>
['Apple', 'Banana', 'Mango', 'Kiwi']
<class 'set'>
{'Kiwi', 'Mango', 'Apple', 'Banana'}